<div>
  <% for book in @books['books'] %>
    <div class="book-list-item">
      <div><%= book['title'] %></div>
      <div>Publisher <%= book['publisher'] %></div>
      <div>Date of Publication <%= book['year'] %></div>
    </div>
  <% end %>
</div>
