<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="content-line">TEST</div>
        <div class="content-line">TEST</div>
        <div class="content-line">TEST</div>
      </div>
      <div class="col-3">
        <div class="content-line">Delivery & Returns</div>
        <div class="content-line">TEST</div>
        <div class="content-line">TEST</div>
      </div>
      <div class="col-3">
        <div class="content-line">Contact Us</div>
        <div class="content-line">TEST</div>
        <div class="content-line">TEST</div>
      </div>
      <div class="col-3">
        <div class="content-line">TEST</div>
        <div class="content-line">TEST</div>
        <div class="content-line">TEST</div>
      </div>
    </div>
  </div>
</div>
